.blog {
	display: flex;
	flex-wrap: wrap;
	background: url('https://res.cloudinary.com/dkprwxflx/image/upload/c_scale,h_400/v1511793134/mosque_ztd1cd.jpg') center no-repeat;
	background-size: cover;
	height: 370px;
    
/*    clip-path: polygon( 0% 0%, 40% 0%, 30% 100%, 0% 100% );*/
/*    clip-path: polygon(53% 1%, 99% 1%, 99% 99%, 33% 99%);*/
    
    &__main {
        margin: 100px 0 0 100px;
    }
    
    &__heading {
        color: $color-main;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.blog__second-heading,
.blog__third-heading {
	@include blog-headings
}